<h2><%= l(:'easy_rake_tasks.views.heading_index') -%></h2>

<%= render :partial => 'easy_rake_tasks/index', :locals => {:tasks => @tasks} %>

<% ### PAGE CUSTOMS ########################################################## -%>

<% html_title(l(:'easy_rake_tasks.views.heading_index')) -%>