<h2><%= l(:label_easy_money_settings) -%></h2>

<%= render_tabs easy_money_settings_tabs %>

<% ### PAGE CUSTOMS ########################################################## %>

<% html_title(l(:label_easy_money_settings)) -%>
