<div id="module_<%= page_module.uuid.dasherize -%>" class="easy-page-module-box" style="position:relative">
  <%= render(:partial => 'easy_page_layout/page_module_edit', :locals => {:page_params => page_params, :page_module => page_module}) -%>
</div>