<div id="module_<%= page_module.uuid.dasherize -%>" class="easy-page-module-box">
  <%= render(:partial => 'easy_page_layout/page_module_show', :locals => {:page_params => page_params, :page_module => page_module}) -%>
</div>