<div class="resalloc-legend floatright">
  <span class="over-time"><span class="legend-icon"> </span><span class="description"><%= l('resalloc.legend_hours_overtime') %></span></span>
  <span class="planned"><span class="legend-icon"> </span><span class="description"><%= l('field_is_planned') %></span></span>
  <span class="custom"><span class="legend-icon">8</span><span class="description"><%= l('resalloc.legend_custom') %></span></span>
</div>