<%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}], @plugin.name.is_a?(Symbol) ?  l(@plugin.name) : h(@plugin.name) %>

<div id="settings">
  <%= form_tag({:action => 'plugin'}) do %>
    <div class="box tabular settings">
      <%= render :partial => @partial, :locals => {:settings => @settings}%>
    </div>
    <%= submit_tag l(:button_apply), :class => 'button-1' %>
  <% end %>
</div>
