<div class="easy-page-module-box">
  <div class="easy-page-empty-zone">
    <%= link_to_function('<span class="icon-tracker"></span><span class="icon-edit"></span>'.html_safe, 'redirectToPageLayout()', :class => 'link-with-changing-icon-on-hover', :title => l(:title_add_module_to_empty_page)) %>
  </div>
</div>