<h3><%= l(:label_roadmap) -%></h3>
<% trackers.each do |tracker| -%>
  <label><%= check_box_tag 'tracker_ids[]', tracker.id, (selected_tracker_ids.include? tracker.id.to_s), :id => nil -%><%=h tracker.name -%></label>
  <br />
<% end -%>