<div id="publishing-body-container">
  <%= text_area_tag 'easy_publishing_setting[body]', @publishing_setting.body %>
  <%= wikitoolbar_for 'easy_publishing_setting_body', :toolbar => 'Publishing' %>
</div>
